<% flash.each do |key, value| %>
<div class="alert alert-<%= key %>">
<%= value %>
</div>
<% end %>

<section class="main-header" style="margin-top:100px">
    <section class="token_issue">
        <h1>
          <FONT size="7">Token Trader</FONT>
          <FONT size="7" color="red">Ruby</FONT>
          <FONT size="7">Ethereum</FONT>
        </h1>
    </section>
</section>

<section class="attention">
  <div class="container">
</div>
</section>
