<div class="container">
  <p id="notice"><%= notice %></p>
  <h3><%= "Token: #{@token.name}" %></h3>
  <h6><%= "(address: #{@token.token_address})" %></h6>
  <h6><%= "Your ether: #{current_user.eth_balance}(ether)" %></h6>
  <%= form_for(@trade, url: trade_token_path(@token), html: { method: :patch }) do |f| %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class='col-xs-3'>Name</th>
            <th class='col-xs-3'>Max Token</th>
            <th class='col-xs-6'>Purchase</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
             <% next if @token.balance(user) == 0 %>
             <%= f.fields_for :trade_details do |trade_detail_f| %>
              <tr>
                <td><%= user.email %></td>
                <%= trade_detail_f.hidden_field :user_id, value: user.id %>
                <td><%= @token.balance(user) %></th>
                <td><%= trade_detail_f.text_field :token_amount %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= f.submit 'Buy Token', class: 'btn btn-success', data: { confirm: '送信しますか？' } %>
  <% end %>
</div>
